<div class="my-3">
    <h2>Merge Map</h2>
    <div class="row">
        <div class="col-md-4">
            <strong>Source 1</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Map</strong>
            </p>
            <br>
            <ul id="elcontainer">
              
            </ul>
            
        </div>
        <div class="col-md-4">
            <strong>Source 2</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Map + MergeAll</strong>
            </p>
            <br>
            <ul id="elcontainer2">
              
            </ul>
          
        </div>
        <div class="col-md-4">
            <strong>Source 3</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>MergeMap</strong>
            </p>
            <br>
            <ul id="elcontainer3">
              
            </ul>
           
        </div>
    </div>

</div>
