<div class="my-3">
    <h2>Take : TakeLast and TakeUntill</h2>

    <div class="row">
        <div class="col-md-4">
            <strong>Eg-01 | Take(5)</strong>
            <hr>
            <ul id="elContainer1">
               
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Eg-02 | TakeLast(5)</strong>
            <hr>
            <ul id="elContainer2">
               
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Eg-03 | TakeUntill(5)</strong>
            <hr>
            <ul id="elContainer3">
                
            </ul>
        </div>
    </div>
</div>