<div class="my-3">
   
    <br>

    <div class="row">
        <div class="col-md-6  my-auto">
         <h2>Concat Map Mobile Eg</h2>
         <strong>Eg-01 | Concat Map</strong>
         <p>Mobile Notification Eg</p>
        </div>
        <div class="col-md-6">
            <div class="iphone-x">
                <i>Speaker</i>
                <b>Camera</b>
                <s>10:24</s>
        
                <div class="notification" id="elcontainer">
                   
                </div>
                
                <span>Left action button</span>
                <span>Right action button</span>
                
            </div>
        </div>
    </div>


</div>
