<div class="my-3">
    <h2>Async Subject</h2>
    <div class="row">
        <div class="col">
            <h3>Add Item</h3>
        </div>
       
    </div>
    <hr>
    <div class="row" >
        <div class="col-md-4">
            <input type="text" class="form-control" #iteminput>
        </div>
        <div class="col-md-3">
          <Button class="btn btn-success" (click)="onVideoAdd(iteminput)">Add Item</Button>
        </div>
       
    </div>
    <hr >

    <div class="row">
        <div class="col-md-4">
            <strong>List 1</strong>
            <hr>
            <ul class="item-list">
                <li >
                    <strong>Name : </strong> {{asyncitem}}
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <strong>click to complete</strong>
            <hr>
            <button  class="btn btn-success" (click)="oncomplete()">Complete Subscription</button>
        </div>
       
    </div>
</div>
